body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
   

  /* HEADER SECTION */
  
  /* Apply a different font-family to the header */
header {
  font-family:'8bit';
  background-color: #ffffff;
  padding: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
}

/* Apply a different font-family to the h1 element within the header */
header h1 {
  color: #000000;
}

/* Customize the size of the horizontal line */
.line1 {
  width: 30%;
  height: 2px;
  background-color: #868686;
  border: none;
  margin: auto;
  margin-top: 0px; /* Adjust this value to control the distance between header and line */
  margin-bottom: 10px; /* Adjust this value to control the distance between line and content below */
}


  /* Navigation Tabs Style */
      /* this first one is the left and right margins */
        /* See how I put the text-align: center; here and not in the other nav ul li sections */


  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'8bit';
    font-size: 24px;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }

  nav ul li:last-child {
    margin-right: 0; /* Remove right margin for the last list item */
  }
  
  nav ul li a {
    color: #888888;
    text-decoration: none;
  }
  
/* Customize the size of the horizontal line */
.line2 {
  width: 22%; /* Set the width of the line to 50% of its containing element */
  height: 2px; /* Set the height of the line to 2 pixels */
  background-color: #868686; /* Set the background color of the line */
  border: none; /* Remove the default border */
  margin: 10;
}


  section id

  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  img {
    max-width: 300px;
    height: auto;
  }
  
  footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
  }

  main1 {
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    color: #000000; 
    font-family:'8bit';
    font-size: 24px;
  }

  main2 {
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    color: #000000; 
    font-family:'8bit';
    font-size: 24px;
  }

  main3 {
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    color: #000000; 
    font-family:'8bit';
    font-size: 24px;
  }

  main4 {
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    color: #000000; 
    font-family:'8bit';
    font-size: 24px;
  }

  footer {
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    color: #000000; 
    font-family:'8bit';
    font-size: 24px;
  }
