body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ede8e3;
    background-size: cover;
    background-position: center  40%;
    background-repeat: no-repeat;
  }

  
   

  /* HEADER SECTION */
  
  /* Apply a different font-family to the header */
header {
  font-family: 'ayres';
  background-color: hsla(0, 0%, 100%, 0); /* Background with 50% transparency */
  padding: 5;
  position: absolute;
  top: 0.4in; /* One inch from the top */
  left: 1.3in;
  font-size: 40px;
  margin: 0;

}


a {
  text-decoration: none; /* Remove underline from all links */
}

/* Apply a different font-family to the h1 element within the header */
header h1 {
  color: #594838;
}

/* Customize the size of the horizontal line */
.line1 {
  width: 30%;
  height: 2px;
  background-color: #594838; /* Set the background color of the line */
  border: none;
  margin: auto;
  margin-top: 0px; /* Adjust this value to control the distance between header and line */
  margin-bottom: 10px; /* Adjust this value to control the distance between line and content below */

}


  /* Navigation Tabs Style */
      /* this first one is the left and right margins */
        /* See how I put the text-align: center; here and not in the other nav ul li sections */


  /* Navigation Links */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: '8bit';
  font-size: 30px;
  display: flex; /* Use flexbox for horizontal alignment */
  position: absolute;
  top: 1.5in; /* One inch from the top */
  right: 1in; /* One inch from the right */
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li:last-child {
  margin-right: 0; /* Remove right margin for the last list item */
}

nav ul li a {
  color: #594838;
  text-decoration: none;
}

  
  
/* Customize the size of the horizontal line */
.line2 {
  width: 22%; /* Set the width of the line to 50% of its containing element */
  height: 2px; /* Set the height of the line to 2 pixels */
  background-color: #594838; /* Set the background color of the line */
  border: none; /* Remove the default border */
  margin: 10;
}


  section id

  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #594838;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  img {
    max-width: 300px;
    height: auto;
  }


  main {
    background-color: hsla(0, 0%, 100%, 0); /* Background with 50% transparency */
    padding: 5px;
    text-align: center;
    color: #594838;
    font-family:'8bit';
    font-size: 24px;
    overflow: hidden; /* Hide the overflow so the text doesn't show before animation */
    white-space: nowrap; /* Keep the text in one line */


  }

  main1 {
    background-color: hsla(0, 0%, 100%, 0); /* Background with 50% transparency */
    padding: 5px;
    text-align: center;
    color: #594838;
    font-family:'8bit';
    font-size: 24px;
  }

  main2 {
    background-color: hsla(0, 0%, 100%, 0); /* Background with 50% transparency */
    padding: 5px;
    text-align: center;
    color: #594838;
    font-family:'8bit';
    font-size: 24px;
  }

  main3 {
    background-color: hsla(0, 0%, 100%, 0); /* Background with 50% transparency */
    padding: 5px;
    text-align: center;
    color: #594838;
    font-family:'8bit';
    font-size: 24px;
  }

  main4 {
    background-color: hsla(0, 0%, 100%, 0); /* Background with 50% transparency */
    padding: 5px;
    text-align: center;
    color: #594838;
    font-family:'8bit';
    font-size: 24px;
  }

  footer {
    background-color: hsla(0, 0%, 100%, 0); /* Background with 50% transparency */
    padding: 5px;
    text-align: center;
    color: #594838;
    font-family:'8bit';
    font-size: 24px;
  }



  
