body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   

  /* HEADER SECTION */
  
  header {
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
  }
  
  header h1 {
    color: #000000; /* Set the color for the header text */
  }
    

  /* Navigation Tabs Style */
      /* this first one is the left and right margins */
        /* See how I put the text-align: center; here and not in the other nav ul li sections */


  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #ff0000;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  img {
    max-width: 300px;
    height: auto;
  }
  
  footer {
    background-color: #ffffff;
    color: #0084ff;
    padding: 20px;
    text-align: center;
  }
  